fastapi[standard]==0.116.1
uvicorn==0.35.0
cryptography==46.0.1
python-dotenv==1.1.1
SQLAlchemy==2.0.43
PyMySQL==1.1.2
psycopg[binary]==3.3.5
scikit-learn==1.7.2
pydantic==2.11.9
numpy==2.3.3
pandas==2.3.2
joblib==1.5.2
matplotlib==3.10.6
bcrypt==5.0.0
pydantic-extra-types==2.10.5
phonenumbers==9.0.15
pyjwt==2.10.1
openai==2.0.0
email-validator==2.3.0
alembic==1.17.0
azure-communication-email==1.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==25.1.0
pwdlib==0.2.1
html-sanitizer==2.6.0
pyhumps==3.8.0
fastapi-camelcase==2.0.0
